@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* CSS Reset  */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Reset END  */

:root {
  --primary-color: #dc1b2e;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

button {
  background-color: var(--primary-color);
  color: #fcfcfd;
  border: 1px solid #dc1b2e;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.top-bar {
  background-color: #dc1b2e;
  color: #fcfcfd;
  padding: 0.5rem 0;
  font-weight: 400;
  max-width: 1920px;
}

.top-navigation {
  padding: 0.5rem 0;
}

.logo img {
  height: auto;
  width: 180px;
}

.top-navigation nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.top-navigation nav ul li {
  padding: 24px 20px;
  flex: 1 1 400px;
}

.top-navigation nav ul li>a {
  text-decoration: none;
  color: #4a4c56;
}

.top-navigation nav ul li>a:hover {
  padding: 1.2rem;
  background-color: #ff0019;
  color: #fcfcfd;
  cursor: pointer;
}

/************************************************************************************************************************************************************************************************************************ Header Styles****/

header .btn a {
  text-decoration: none;
  font-weight: 600;
  color: #fcfcfd;
}

header .btn:hover {
  background-color: #ff0019;
  transition: background-color 0.15s, font-size 0.15s;
  font-size: 1.2rem;
}

header .btn:active {
  color: #000000;
}

header .btn i {
  margin-left: 10px;
}

/************************************************************************************************************ Container Grid **********************/

.container-grid {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  grid-template-columns: 1fr 1fr;
}

header {
  grid-area: header;
  min-height: max-content;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/************************************************************************************************************************************************************************************************************************ Sections Styles****/

#hero {
  background-image: linear-gradient(rgba(115, 115, 115, 0.7), rgba(0, 0, 0)),
    url(./assets/images/hero-image.png);

  background-origin: border-box;
}

#hero>div {
  padding: 2rem 0rem;
}

.hero-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .hero-flex-container {
    flex-direction: column;
  }

  .hero-flex-container>* {
    flex: 1 1 0;
  }
}

.hero-headline-container {
  flex: 1.5 1 0;
}

.hero-headline-container>h1,
.hero-headline-container>h2 {
  color: #ffffff;
  text-align: left;
}

.hero-headline-container>i {
  font-size: 1rem;
  color: yellow;
}

.hero-section-form {
  flex: 1 1 0;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  background-color: #fcfcfd;
  border-radius: 4px;
  text-align: left;
  padding: 2rem 2rem;
  margin: 0 auto;
  outline: rgba(156, 156, 156, 0.2) solid 0.5rem;
  gap: 0 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  line-height: 2.5;
}

.form-group input {
  padding: 0.5rem 0;
}

.form-submit {
  margin-top: 0.5rem;
}

.form-submit button {
  width: 100%;
  height: fit-content;
}

.form-submit p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

/************************************************************************************************************ Options Section *********************/

#options {
  max-width: 1920px;
}

#options .options-1 {
  background-image: url(./assets/images/home-search-background.png);
  background-repeat: no-repeat;
  align-self: stretch;
}

#options .options-2 {
  background-image: url(./assets/images/home-valuation-background.png);
  background-repeat: no-repeat;
}

#options .options-3 {
  background-image: url(./assets/images/home-connect-background.png);
  background-repeat: no-repeat;
}

#options .card {
  max-width: 33.33%;
  flex: 1 1 auto;
  text-align: center;
}

#options .card h2 {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

#options .card p {
  color: white;
}

/************************************************************************************************************ selling Section *********************/
.selling {
  background-color: #ffffff;
}

.selling .selling-process {
  background-image: url(./assets/images/Vector69.png);
  background-repeat: no-repeat;


}

#about {
  background-color: blue;
}

#blog {
  background-color: purple;
}

#contact {
  background-color: yellow;
}

/************************************************************************************************************ Footer *****************************/

footer {
  background-color: darkgray;
}

footer .copyright {
  background-color: #070707;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.5rem;
}

.copyright span {
  color: var(--primary-color);
}

/********************************************************************************************************************************************Utility classes **********************/

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: x-large;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 33.33%;
  padding: 2rem;

  aspect-ratio: 1/1;
}


/******************************************************************************************************************************************** Media Queries **********************/


@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .flex-row {
    flex-direction: column;
    justify-content: center;
  }

  #options .card {
    max-width: 100%;
  }

  .h1 {
    text-align: center;
    font-size: xx-large;
  }
}